/* navbar 1 css start  */
.nav-bar1{
    background-color: #da7426;
    height: 15px;
    }
    /* navbar 2 css start  */
    
    
    /* navbar2 css start */
    .nav-bar2{
        background-color:rgb(24,52,113) ;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .tro-word:hover{
        color: black;
    }
    .weld-word{
        color:#da7426 ;
    }
    .left-part{
        margin-left: 30px;
        width: 200px;
    }
    .left-part a{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .right-part{
        flex: 1;
        display: flex;
        justify-content: space-around;
        
    }
    .nav-bar-button{
            height: 35px;
            width: 35px;
            background-color: rgb(78,159,192); /* Green */
            border: none;
            color: white;
            font-size: 13px;
            border-radius: 50% ;
            cursor: pointer;
            transition: 0.20s;
            
    }
    .nav-bar-button-socialmedia{
            height: 30px;
            width: 30px;
            background-color: rgb(78,159,192); /* Green */
            border: none;
            color: white;
            font-size: 15px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.20s;
            
    }
    .nav-bar-button:hover{
        background-color: #da7426;
    }
    .nav-bar-button-socialmedia:hover{
        background-color: #da7426;
    }
    /* navbar2 end  */
    
    
    /* navbar 3 css start */
    .nav-bar3{
        position: absolute;
        background-color: rgb(24,52,113);
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.20s;
    }
    
    .nav-bar3-middle{
        display: flex;
        flex: 1;
        justify-content:space-evenly ;
        margin-left: 200px;
         margin-right: 200px;   
         flex-shrink: 0;
        font-weight: bold;
    }
    .login,.nav-bar3-middle :hover{
        color: #da7426;
        transition: 0.30s;
    }
    .login{
        color: white;
        font-size: 14px;
        border: none;
        border-radius: 100%;
        background-color: transparent; 
        padding: 0px;
        cursor: pointer;
        font-weight: bold;
    
    }
    /* navbar 3 css start */
    