.testimonial-heading{
    color: black;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.testi{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.testimonial{
    width: 800px;
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.testimonial-image{
    width: 140px;
    border: 10px solid rgba(216, 84, 8, 0.932);
    height: 140px;
}
.para{
    flex: 1;
    
    border: 1px solid black;
}